@import url("fonts.css");
@import url("fontello/css/fontello.css");
@import url("font-awesome/css/font-awesome.min.css");




body { background: #0f0f0f; }
/*
#main {
	margin: 126px auto 0;
	text-align: center;	
	*/
}
#main h11 {
	font: 42px/1.2em 'montserrat-bold', sans-serif;	
	color: #fff;
	margin-bottom: 18px;	
	padding: 0 10%;
	text-shadow: 0px 1px 3px rgba(0, 0, 0, .5);	
	margin: 126px auto 0;
	text-align: center;
}
